* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    appearance: none; /* Elimina el estilo predeterminado del navegador */
    -webkit-appearance: none; /* Para navegadores WebKit */
    -moz-appearance: none; /* Para navegadores Firefox */
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-image: url('./nieve.jpeg');
    background-size: cover; /* Ajusta la imagen de fondo para cubrir todo el visor */
    background-position: center;
}

#decorado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw; /* Ajustado al 80% del ancho del viewport */
    height: 70vh;
    background-color: rgba(255, 255, 255, 0.13);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 35px rgba(8, 7, 16, 0.6);
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

#character-image {
    width: 40vw;
    height: 60vh;
    border-radius: 25px;
    object-position: center;
    object-fit: cover; /* Cambiado de 'fit' a 'cover' para una mejor adaptación */
}

#character-list {
    font-size: 25px;
    background-color: rgba(255, 255, 255, 0.215); /* Cambia el color de fondo aquí */
    backdrop-filter: blur(10px);
    box-shadow: 0 0 35px rgba(8, 7, 16, 0.6);
    border: none; /* Opcional: elimina el borde predeterminado */
    color: #000; /* Opcional: cambia el color del texto */
    padding: 10px; /* Opcional: agrega padding para mejorar la apariencia */
    border-radius: 5px; /* Opcional: agrega bordes redondeados */
}

#info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    width: 10vw; /* Ajustado al 20% del ancho del viewport */
    height: 70vh;
    background-color: rgba(255, 255, 255, 0.215); /* Cambia el color de fondo aquí */
    backdrop-filter: blur(10px);
    box-shadow: 0 0 35px rgba(8, 7, 16, 0.6);
    border: none; /* Opcional: elimina el borde predeterminado */
    color: #000; /* Opcional: cambia el color del texto */
    font-size: 15px;
    text-transform: uppercase;
    padding: 10px; /* Opcional: agrega padding para mejorar la apariencia */
    border-radius: 20px; /* Opcional: agrega bordes redondeados */
}

#character-family, #character-name, #character-title {
    display: flex;
    color: rgb(229, 255, 0);
    flex-direction: column;
    margin-top: 1vh;
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
   text-align: center; /* Centra el texto dentro del contenedor */
}

#character-family > *, #character-name > *, #character-title > * {
    width: 100%; /* Asegura que los elementos hijos ocupen todo el ancho del contenedor */
    text-align: center; /* Centra el texto dentro de los elementos hijos */
}